<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/earlyaccess/nikukyu.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/stylesheet.css}" type="text/css">
    <title>入居</title>
    <script src="/js/hensyu.js"></script>
</head>

<body>
    <div class="background">
        <header>
            <div class="container">
                <div class="header-left">
                    <a href="/mansion/home" style="text-decoration: none; color: inherit;">
                        <h1>ヌイグルミマンション</h1>
                    </a>
                </div>
            </div>
        </header>
        <div class="container">
            <div class="custom">
                <form th:action="@{/mansion/register}" method="POST" enctype="multipart/form-data">
                    <div class="h1-container">
                        <h1>登録</h1>
                        <button type="submit" class="save-btn">登録</button>
                        <button type="button" class="back-btn" onclick="location.href='/mansion/home'">戻る</button>
                    </div>
                    <div class="input-container">
                        <label class="img-update-label">
                            <input type="file" name="img" accept="image/*" id="img-input" onchange="previewImage(event)"
                                style="display: none;">
                            <img src="/images/default.png" alt="画像を選択" id="img-preview" class="img-preview">
                        </label>
                        <input type="text" maxlength="20" id="name-input" name="name" placeholder="名前を入力">
                        <div th:if="${errors != null}" class="error-message">
                            <ul>
                                <li th:each="error : ${errors}" th:text="${error}"></li>
                            </ul>
                        </div>

                    </div>

                    <table>
                        <tr>
                            <th>登録日</th>
                            <th>住所</th>
                            <th>出身地</th>
                            <th>状態</th>
                        </tr>
                        <tr>
                            <td><input type="date" name="created_date"
                                    value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"></td>
                            <td><input type="text" maxlength="20" name="place" placeholder="住所を入力"></td>
                            <td><input type="text" maxlength="20" name="hometown" placeholder="出身地を入力"></td>
                            <td><select id="status-select" name="now">
                                    <option value="入居中">入居中</option>
                                    <option value="退去">退去</option>
                                </select></td>
                        </tr>
                    </table>
                    <table class="memo-table">
                        <tr>
                            <th><textarea maxlength="150" name="memo" placeholder="メモを入力..."></textarea></th>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</body>

</html>